<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Мир книг</title>{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css %}">
      {% block head %}
      <img src="{% static 'images/logotip.jpeg' %}"
           style="width:100px; height:100px;" align="absmiddle">
      <font size=7, color="blue">"Сайт мир книг"</font>
      {% endblock %}
  </head>

  <body>
  <div class="container-fluid">

      <div class="row">
          <div class="col-sm-2">
              {% block sidebar %}
              <ul class="sidebar-nav">
                  <li><a href="{% url 'index' %}">Главная страница</a> </li>
                  <li><a href="">Все книги</a> </li>
                  <li><a href="">Все авторы</a> </li>
              </ul>
              {% endblock %}
          </div>
          <div class="col-sm-10">
              {% block content %}{% endblock %}
              {% block footer %}
              {% block copyright %}
              <p>Copyright ООО "Люди и книги", 2023. Все права защищены</p>
              {% endblock %}
              {% endblock %}

          </div>
      </div>
  </div>
  </body>
</html>